<div class='block_background' id='attacker'>
  <h1>Attacker</h1>
  <h2><%= @game.attacker_name %></h2>
  <p><%= @game.attacker_hp %>HP</p>
  <form method="post" action="/attack">
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="ATTACK">
  </form>
</div>

<div class='block_background' id='defender'>
  <h1>Defender</h1>
  <h2><%= @game.defender_name %></h2>
  <p><%= @game.defender_hp %>HP</p>
  <form action="/switch" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="SWITCH">
  </form>
</div>

<div id='info'>
  <div class='vs'>
    VS
  </div>
  <% if @game.deducted_point %>
  <div id='message' class='block_background'>
    <b><%= @game.attacker_name %></b> inflicted <b><%= @game.deducted_point %>HP</b> damage to <b><%= @game.defender_name %></b>
  </div>
  <% end %>
</div>
